In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("cowin_vaccine_data_districtwise.csv")

C:\Users\acer\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df1.head()

,S No,State_Code,State,District_Key,Cowin Key,District,16-01-2021,16-01-2021.1,16-01-2021.2,16-01-2021.3,...,31-10-2021,31-10-2021.1,31-10-2021.2,31-10-2021.3,31-10-2021.4,31-10-2021.5,31-10-2021.6,31-10-2021.7,31-10-2021.8,31-10-2021.9
0,NaN,NaN,NaN,NaN,NaN,NaN,Total Individuals Registered,Sessions,Sites,First Dose Administered,...,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male(Doses Administered),Female(Doses Administered),Transgender(Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered)
1,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745,0,0,0,...,45707,0,0,25394,20313,24718,20986,3,0,45707
2,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496,0,0,0,...,138467,0,0,78945,59522,71980,66468,19,0,138467
3,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028,2,2,23,...,309984,0,0,189662,120322,166484,143447,53,0,309984
4,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781,28,26,287,...,4301558,332000,120,2690082,1611476,1986132,2313068,2358,524447,3777111

In [4]:
df2 = pd.DataFrame()

In [5]:
district = df1['District']
df2['District']=district
len(df2.iloc[:,0])

755

In [6]:
i=6
while(i<2896):
    df2[df1.columns[i]] = df1.iloc[:,i]
    i+=10

C:\Users\acer\AppData\Local\Temp/ipykernel_16184/3197899286.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df2[df1.columns[i]] = df1.iloc[:,i]

In [7]:
df2

,District,16-01-2021,17-01-2021,18-01-2021,19-01-2021,20-01-2021,21-01-2021,22-01-2021,23-01-2021,24-01-2021,...,22-10-2021,23-10-2021,24-10-2021,25-10-2021,26-10-2021,27-10-2021,28-10-2021,29-10-2021,30-10-2021,31-10-2021
0,NaN,Total Individuals Registered,Total Individuals Registered,Total Individuals Registered,Total Individuals Registered,Total Individuals Registered,Total Individuals Registered,Total Individuals Registered,Total Individuals Registered,Total Individuals Registered,...,Total Doses Administered,Total Doses Administered,Total Doses Administered,Total Doses Administered,Total Doses Administered,Total Doses Administered,Total Doses Administered,Total Doses Administered,Total Doses Administered,Total Doses Administered
1,Nicobars,745,745,745,745,745,746,746,809,828,...,44585,44815,44834,45121,45292,45412,45469,45660,45707,45707
2,North and Middle Andaman,1496,1496,1496,1496,1496,1597,1758,1793,1793,...,135573,136474,136538,137162,137591,137817,138090,138274,138459,138467
3,South Andaman,6028,6028,5719,5986,6125,6207,7193,8092,9777,...,299400,301038,301240,302822,304646,306080,307510,308690,309953,309984
4,Anantapur,20781,20781,20745,21005,21301,21859,22488,22766,22796,...,4042080,4062604,4067852,4105914,4142879,4175790,4216470,4258089,4291613,4301558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,Purulia,18395.0,18395,18452,18488,18575,19086,20093,20428,21172,...,1911454,1949444,1972218,2007332,2043348,2074586,2101060,2129285,2157119,2172251
751,Birbhum,4685.0,4703,4666,4765,4915,4945,5101,5165,5193,...,1036193,1047087,1048926,1060114,1073520,1082926,1091160,1104047,1115842,1120160
752,South 24 Parganas,24722.0,24722,24585,24762,24814,24843,25926,27324,28455,...,3706073,3771582,3772455,3807025,3866023,3907175,3961461,4028355,4092794,4100518
753,Uttar Dinajpur,NaN,18051,12945,13301,14003,14645,15293,15423,15439,...,1573323,1602710,1602710,1648988,1684369,1693587,1718446,1763748,1777639,1777639
754,Paschim Bardhaman,22782.0,22921,23028,23797,23819,24230,24912,25598,25849,...,2265176,2296507,2300782,2336028,2365960,2388704,2412223,2441562,2466286,2467358

In [8]:
df3 = df2.drop(0)

In [9]:
df3 = df3.set_index('District')

In [10]:
df3.head()

,16-01-2021,17-01-2021,18-01-2021,19-01-2021,20-01-2021,21-01-2021,22-01-2021,23-01-2021,24-01-2021,25-01-2021,...,22-10-2021,23-10-2021,24-10-2021,25-10-2021,26-10-2021,27-10-2021,28-10-2021,29-10-2021,30-10-2021,31-10-2021
District,,,,,,,,,,,,,,,,,,,,,
Nicobars,745,745,745,745,745,746,746,809,828,923,...,44585,44815,44834,45121,45292,45412,45469,45660,45707,45707
North and Middle Andaman,1496,1496,1496,1496,1496,1597,1758,1793,1793,1831,...,135573,136474,136538,137162,137591,137817,138090,138274,138459,138467
South Andaman,6028,6028,5719,5986,6125,6207,7193,8092,9777,10297,...,299400,301038,301240,302822,304646,306080,307510,308690,309953,309984
Anantapur,20781,20781,20745,21005,21301,21859,22488,22766,22796,25439,...,4042080,4062604,4067852,4105914,4142879,4175790,4216470,4258089,4291613,4301558
Chittoor,26285,26294,24319,25642,26873,28306,30695,32585,32953,33952,...,4396455,4439806,4457495,4491568,4517822,4539298,4573252,4609235,4638676,4640860

In [11]:
df_vac_jan21 = pd.DataFrame()
df_vac_jan21

Empty DataFrame
Columns: []
Index: []

In [12]:
for i in range(0,16):
    df_vac_jan21[df3.columns[i]] = df3.iloc[:,i]

In [13]:
df_vac_jan21

,16-01-2021,17-01-2021,18-01-2021,19-01-2021,20-01-2021,21-01-2021,22-01-2021,23-01-2021,24-01-2021,25-01-2021,26-01-2021,27-01-2021,28-01-2021,29-01-2021,30-01-2021,31-01-2021
District,,,,,,,,,,,,,,,,
Nicobars,745,745,745,745,745,746,746,809,828,923,923,989,989,1004,1004,1030
North and Middle Andaman,1496,1496,1496,1496,1496,1597,1758,1793,1793,1831,1831,1831,1886,1886,1922,2080
South Andaman,6028,6028,5719,5986,6125,6207,7193,8092,9777,10297,10297,10432,10579,10674,10683,10684
Anantapur,20781,20781,20745,21005,21301,21859,22488,22766,22796,25439,28800,31251,32201,32750,33303,33303
Chittoor,26285,26294,24319,25642,26873,28306,30695,32585,32953,33952,34071,35106,35809,42087,44799,47304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Purulia,18395.0,18395,18452,18488,18575,19086,20093,20428,21172,22063,26812,27567,28107,28535,29746,29746
Birbhum,4685.0,4703,4666,4765,4915,4945,5101,5165,5193,5388,5452,5760,5814,6085,6471,6542
South 24 Parganas,24722.0,24722,24585,24762,24814,24843,25926,27324,28455,30811,30823,31695,33412,34487,35068,35071
Uttar Dinajpur,NaN,18051,12945,13301,14003,14645,15293,15423,15439,15963,15963,16368,17112,17527,17585,17585
Paschim Bardhaman,22782.0,22921,23028,23797,23819,24230,24912,25598,25849,26725,26725,26997,27158,27723,28093,28168

In [23]:
df_vac_jan21 = df_vac_jan21.apply(pd.to_numeric)

In [29]:
av_row = round(df_vac_jan21.mean(axis=1))
av_row

District
Nicobars                      857.0
North and Middle Andaman     1730.0
South Andaman                8425.0
Anantapur                   25723.0
Chittoor                    32942.0
                             ...
Purulia                     22854.0
Birbhum                      5353.0
South 24 Parganas           28845.0
Uttar Dinajpur              15814.0
Paschim Bardhaman           25533.0
Length: 754, dtype: float64

In [30]:
df_vac_jan21['Mean Vaccination'] = av_row

In [31]:
df_vac_jan21.head()

,16-01-2021,17-01-2021,18-01-2021,19-01-2021,20-01-2021,21-01-2021,22-01-2021,23-01-2021,24-01-2021,25-01-2021,26-01-2021,27-01-2021,28-01-2021,29-01-2021,30-01-2021,31-01-2021,Mean Vaccination
District,,,,,,,,,,,,,,,,,
Nicobars,745.0,745,745,745.0,745.0,746,746,809,828,923,923,989.0,989,1004,1004,1030,857.0
North and Middle Andaman,1496.0,1496,1496,1496.0,1496.0,1597,1758,1793,1793,1831,1831,1831.0,1886,1886,1922,2080,1730.0
South Andaman,6028.0,6028,5719,5986.0,6125.0,6207,7193,8092,9777,10297,10297,10432.0,10579,10674,10683,10684,8425.0
Anantapur,20781.0,20781,20745,21005.0,21301.0,21859,22488,22766,22796,25439,28800,31251.0,32201,32750,33303,33303,25723.0
Chittoor,26285.0,26294,24319,25642.0,26873.0,28306,30695,32585,32953,33952,34071,35106.0,35809,42087,44799,47304,32942.0

In [32]:
df_vac_jan21.to_csv('jan21_vaccination.csv')

Quarter 1 - Feb 2021 - April 2021

In [37]:
df_vac_q1 = pd.DataFrame()

for i in range(16,105):
    df_vac_q1[df3.columns[i]] = df3.iloc[:,i]

df_vac_q1 = df_vac_q1.apply(pd.to_numeric)
av_row_q1 = round(df_vac_q1.mean(axis=1))

df_vac_q1['Mean Vaccination'] = av_row_q1
df_vac_q1

,01-02-2021,02-02-2021,03-02-2021,04-02-2021,05-02-2021,06-02-2021,07-02-2021,08-02-2021,09-02-2021,10-02-2021,...,22-04-2021,23-04-2021,24-04-2021,25-04-2021,26-04-2021,27-04-2021,28-04-2021,29-04-2021,30-04-2021,Mean Vaccination
District,,,,,,,,,,,,,,,,,,,,,
Nicobars,1034,1034,1034,1043,1071,1116,1116,1116,1116,1116,...,7540,7727,7803,7850,7956,8051,8072,8096,8126,2734.0
North and Middle Andaman,2080,2080,2080,2080,2080,2147,2147,2147,2147,2147,...,27773,28116,28318,28403,28673,28856,29031,29277,29444,7408.0
South Andaman,10684,10684,10706,10867,11000,11104,11183,11183,11183,11183,...,47920,49358,50675,51612,52661,53547,54291,55044,55923,19748.0
Anantapur,33304,33304,37660,39068,41462,43275,43275,46306,48969,52068,...,355539,361369,363230,363238,364364,399572,400532,403477,403698,161674.0
Chittoor,47599,47607,49255,51028,53679,56794,57591,60122,62487,66052,...,413389,433898,442011,442042,467029,475923,479986,483117,496831,204549.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Purulia,30201,31074,31935,34442,36794,37643,37943,38285,38335,38673,...,188423,189728,190664,191029,192596,193909,194253,194752,195506,107412.0
Birbhum,6690,7086,7867,8014,8822,8822,8822,9464,9888,10564,...,129203,130502,131018,131529,132742,134636,135071,135272,135941,62957.0
South 24 Parganas,35952,36448,36448,37212,37857,38862,38997,39612,40598,41784,...,413496,419103,422261,424113,428730,431259,433380,435472,437168,220957.0
Uttar Dinajpur,17668,17815,18204,18619,19213,19824,19824,20970,22958,24963,...,154701,155193,157964,157968,163321,165847,166315,166461,166781,88205.0
Paschim Bardhaman,29264,30211,30880,32881,35145,36476,36609,36654,36701,36964,...,216060,218805,219724,219726,219629,220094,222462,224538,226854,109779.0

In [38]:
df_vac_q1.to_csv('q1_vaccination.csv')

Quarter 2 - May 2021 - July 2021

In [39]:
df_vac_q2 = pd.DataFrame()

for i in range(105,197):
    df_vac_q2[df3.columns[i]] = df3.iloc[:,i]

df_vac_q2 = df_vac_q2.apply(pd.to_numeric)
av_row_q2 = round(df_vac_q2.mean(axis=1))

df_vac_q2['Mean Vaccination'] = av_row_q2
df_vac_q2.to_csv('q2_vaccination.csv')
df_vac_q2

,01-05-2021,02-05-2021,03-05-2021,04-05-2021,05-05-2021,06-05-2021,07-05-2021,08-05-2021,09-05-2021,10-05-2021,...,23-07-2021,24-07-2021,25-07-2021,26-07-2021,27-07-2021,28-07-2021,29-07-2021,30-07-2021,31-07-2021,Mean Vaccination
District,,,,,,,,,,,,,,,,,,,,,
Nicobars,8159,8157,8206,8224,8242,8285,8311,8320,8320,8321,...,27844,28031,28122,28324,28695,28932,29110,29195,29365,29959.0
North and Middle Andaman,29514,29514,29562,29588,29648,29695,29750,29790,29790,29901,...,82702,84126,84547,84804,86313,87969,89568,90923,91335,46435.0
South Andaman,56329,56454,56865,57252,57610,58249,58909,59529,59638,60217,...,164831,167038,167170,169838,171848,173900,175520,176778,178269,96573.0
Anantapur,412318,412334,412545,412555,412475,429857,433351,440745,440784,440758,...,1463973,1474855,1474946,1586068,1593884,1603609,1605454,1618100,1625380,863680.0
Chittoor,504601,504615,507329,508457,508751,515856,519537,523405,523478,523476,...,1607314,1617830,1618411,1737421,1747897,1752661,1752661,1834360,1847494,992241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Purulia,195739,195764,196368,196830,197183,197669,198577,198964,198953,199371,...,587839,594590,600147,607649,618382,630071,642303,649994,660379,372146.0
Birbhum,136574,136844,137749,138446,138563,138705,139662,140281,140343,140751,...,403702,411384,412618,418663,422762,425417,428117,433410,438277,251611.0
South 24 Parganas,438997,439213,440926,441530,442020,442604,445613,446403,446579,447405,...,1383784,1395186,1397241,1405929,1415060,1426507,1434035,1450195,1467520,851818.0
Uttar Dinajpur,166837,166849,167547,167645,167704,167725,167821,167876,167875,168692,...,564146,580091,580374,582170,582895,587328,590674,594036,607164,337225.0
Paschim Bardhaman,227125,227126,228099,228673,228857,229089,229337,229394,229397,229475,...,810385,819648,821709,831685,841196,849861,862175,871043,885110,474147.0

Quarter 3 - August 2021 - October 2021

In [40]:
df_vac_q3 = pd.DataFrame()

for i in range(197,289):
    df_vac_q3[df3.columns[i]] = df3.iloc[:,i]

df_vac_q3 = df_vac_q3.apply(pd.to_numeric)
av_row_q3 = round(df_vac_q3.mean(axis=1))

df_vac_q3['Mean Vaccination'] = av_row_q3
df_vac_q3.to_csv('q3_vaccination.csv')
df_vac_q3

,01-08-2021,02-08-2021,03-08-2021,04-08-2021,05-08-2021,06-08-2021,07-08-2021,08-08-2021,09-08-2021,10-08-2021,...,23-10-2021,24-10-2021,25-10-2021,26-10-2021,27-10-2021,28-10-2021,29-10-2021,30-10-2021,31-10-2021,Mean Vaccination
District,,,,,,,,,,,,,,,,,,,,,
Nicobars,29592,29652,29704,29788,29823,29838,29915,29915,29941,29948,...,44815,44834,45121,45292,45412,45469,45660,45707,45707,36048.0
North and Middle Andaman,91462,91613,91726,91806,91916,91951,91974,91974,92044,92092,...,136474,136538,137162,137591,137817,138090,138274,138459,138467,113798.0
South Andaman,180313,181461,182712,184135,185275,186388,187381,187460,188658,189947,...,301038,301240,302822,304646,306080,307510,308690,309953,309984,250823.0
Anantapur,1647681,1692187,1706479,1716102,1723209,1781613,1797241,1804063,1814089,1855968,...,4062604,4067852,4105914,4142879,4175790,4216470,4258089,4291613,4301558,2877020.0
Chittoor,1864605,1935556,1949340,1976744,1987553,2061106,2077173,2078059,2100961,2104129,...,4439806,4457495,4491568,4517822,4539298,4573252,4609235,4638676,4640860,3218746.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Purulia,675560,682173,690086,697042,704006,712983,720216,725522,732567,740412,...,1949444,1972218,2007332,2043348,2074586,2101060,2129285,2157119,2172251,1258992.0
Birbhum,446045,456298,459593,465023,470966,474876,478008,479674,485104,489279,...,1047087,1048926,1060114,1073520,1082926,1091160,1104047,1115842,1120160,750854.0
South 24 Parganas,1492143,1515261,1544508,1577475,1614065,1634408,1650648,1651961,1667267,1681487,...,3771582,3772455,3807025,3866023,3907175,3961461,4028355,4092794,4100518,2660371.0
Uttar Dinajpur,608679,623354,634701,639327,645930,659009,663780,663894,669282,677111,...,1602710,1602710,1648988,1684369,1693587,1718446,1763748,1777639,1777639,1078043.0
Paschim Bardhaman,890362,904315,918521,928154,941858,956952,971027,972793,986189,1001047,...,2296507,2300782,2336028,2365960,2388704,2412223,2441562,2466286,2467358,1631605.0